{% extends 'spotlocator/base_customer.html' %}
{% load humanize %}
{% load static %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-left" style="margin-bottom: 20px">
                    <h3 class="text-light-black header-title title" style="margin: 0 auto;display: table">Explore our
                        collections</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div class="row">
                    {% if menus %}
                        {% for menu in menus %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product-box mb-xl-20">
                                    <div class="product-img">
                                        <a href="#">
                                            {% if menu.order_upload is None %}
                                                <img src="{{ menu.order_upload.url }}"
                                                     class="img-fluid full-width" alt="product-img">
                                            {% else %}
                                                <img src="{% static 'spotlocator/assets/img/dish/150x151/dish-1.jpg' %}"
                                                     class="img-fluid full-width" alt="product-img">
                                            {% endif %}
                                        </a>
                                        <div class="overlay">
                                            <div class="product-tags padding-10"> <span class="circle-tag">
                        <img src="{% static 'spotlocator/assets/img/svg/013-heart-1.svg' %}" alt="tag">
                      </span>
                                                <div class="custom-tag"> <span
                                                        class="text-custom-white rectangle-tag bg-gradient-red">
                          10%
                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-caption">
                                        <div class="title-box">
                                            <h6 class="product-title"><a href="#" class="text-light-black "
                                                                         style="font-weight: bold;font-size: 17px">
                                                Great
                                                Burger</a>
                                            </h6>
                                            <div class="tags"> <span
                                                    class="text-custom-white rectangle-tag bg-gradient-green">
                       &#8358; {{ menu.order_price|intcomma }}
                      </span>
                                            </div>
                                        </div>
                                        <p class="text-light-white"
                                           style="font-size: 15px">{{ menu.owner.spotname }}</p>
                                        <div class="product-details">
                                            <div class="price-time"><span
                                                    class="text-light-black time">Delivery time: not specified</span>
                                            </div>
                                        </div>
                                        <div class="product-footer">
                                            <div style="margin: 0 auto;display: table">
                                                <a href="" class="text-white square-tag bg-gradient-green"
                                                   style="margin-left: 1px;padding: 7px;border-radius: 3px">
                                                    <i class="fa fa-phone-square"
                                                       style="color: #ffffff;"></i> WHATSAPP
                                                </a>
                                                <a href="tel:+234{{ menu.owner.number }}"
                                                   class="text-custom-white square-tag bg-gradient-orange"
                                                   style="border-radius: 3px;margin-left: 1px;padding: 7px">
                                                    <i class="fa fa-phone text-white"
                                                       style=""></i> CALL
                                                </a>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}